{% extends "default_template.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">A Área de Trabalho</h1>
                <hr>
                <p>Um blog sobre Grafos</p>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Ops! Não encontramos a página que você quer!</h2>
                        <p>Está perdido? Volte a nossa página inicial!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/" class="btn btn-primary btn-xl page-scroll">Início</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}