{% extends "default_template.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">A Área de Trabalho</h1>
                <hr>
                <p>A Área de Trabalho foi criada por:</p>
                <h3 class="main-item">Lucas Yuji S. Aciole</h3>
                <h3 class="main-item">Samuel Teófilo Tonin</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                        <a href="/" class="btn btn-primary btn-xl page-scroll">Início</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}