{% extends "default_template.html" %}
{% block content %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">A Área de Trabalho</h1>
                <hr>
                <p>Um blog sobre Grafos</p>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Sinto muito! Esse artigo ainda não está disponivel!</h2>
                        <p>O artigo está em construção e logo será disponibilizado. Enquanto isso, volte a nossa página inicial e conheça outros artigos!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/" class="btn btn-primary btn-xl page-scroll">Início</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}